<h1>Developer Video Games Index</h1>
<br>
<h2><%= @developer.name %></h2>
<p>List of Games:</p>
<% @developer.video_games.each do |video_game|%>
<table>
  <thead>
    <th>Title</th>
    <th>Price</th>
    <th>Up to date?</th>
    <th>DLC</th>
    <th>Genre</th>
  </thead>
  <tbody>
    <tr>
      <td><%= video_game.name %></td>
      <td><%= video_game.price %></td>
      <td><%= video_game.up_to_date %></td>
      <td><%= video_game.dlc %></td>
      <td><%= video_game.genre %></td>
    </tr>
  </tbody>
</table>
<% end %>