<h1>Video Game Show</h1>
<h3><%= @video_game.name %></h3>
<p><%= "Price: #{@video_game.price}" %></p>
<p><%= "Up to date?: #{@video_game.up_to_date}" %></p>
<p><%= "Number of DLC: #{@video_game.dlc}" %></p>
<p><%= "Genre: #{@video_game.genre}" %></p>
<p><%= "Developer ID: #{@video_game.developer_id}" %></p>